@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  text-decoration: none;
  cursor: pointer;
}

.background {
  background-size: cover;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Redressed", cursive;
  margin-bottom: 20px;
  color: #ffc06c;
  font-size: 60px;
  text-shadow: 1px 1px #1d8caa, 1px -1px #1d8caa, -1px -1px #1d8caa,
    -1px 1px #1d8caa, 2px 2px #ffffff, 2px -2px #ffffff, -2px -2px #ffffff,
    -2px 2px #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 20px;
  background-color: #1d8caa;
}

.container,
.selected {
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.container-score,
.container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-score > p {
  margin-right: 10px;
  color: #ffffff;
}

.container-buttons > button {
  margin-right: 5px;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #1d8caa;
  padding: 8px;
}

.container.grid {
  margin: 20px 0;
  background-color: #1d8caa7c;
}

.container.timer {
  max-width: 100px;
  color: #fff;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: auto;
  font-size: 35px;
  position: relative;
  cursor: pointer;
}

#grid > div {
  position: absolute;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-effect {
  transition: background-color 0.4s, top 0.4s, left 0.4s, bottom 0.4s,
    right 0.4s, transform 0.2s;
}

/* ------------------------------------ Efecto Clickeable */

.emoji {
  animation-iteration-count: 1;
}

.clickable {
  animation-name: clickable;
  animation-duration: 1s;
}

@keyframes clickable {
  20% {
    transform: scale(0.7);
  }
}

.hidden {
  display: none;
}

/* ------------------------------------ Responsive */

@media (max-width: 575.98px) {
  .container {
    max-width: 352px;
  }
}

@media (max-width: 500px) {
  #grid > div {
    text-align: revert;
  }
  #grid {
    font-size: 25px;
  }
}
