@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #1d8caa;
}

.background {
  background-size: cover;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 100vh; /* para que se vea completo al empezar la partida, se puede sacra si les molesta */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Redressed", cursive;
  margin-bottom: 20px;
  color: #ffc06c;
  font-size: 60px;
  text-shadow: 1px 1px #1d8caa, 1px -1px #1d8caa, -1px -1px #1d8caa,
    -1px 1px #1d8caa, 2px 2px #ffffff, 2px -2px #ffffff, -2px -2px #ffffff,
    -2px 2px #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 15px;
  background-color: #1d8caa;
}

.container,
.selected {
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.container-score,
.container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-score > p {
  margin-right: 10px;
  color: #ffffff;
}

.container-buttons > button {
  margin-right: 5px;
  padding: 8px;
}

.container.grid {
  margin: 20px 0;
  background-color: #1d8caa7c;
}

.container.timer {
  max-width: 100px;
  color: #fff;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: auto;
  font-size: 35px;
  position: relative;
  cursor: pointer;
}

#grid > div {
  position: absolute;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-effect {
  transition: background-color 0.4s, top 0.4s, left 0.4s, bottom 0.4s,
    right 0.4s, transform 0.2s;
}

/* ------------------------------------ Efecto Clickeable */

.emoji {
  animation-iteration-count: 1;
}

.clickable {
  animation-name: clickable;
  animation-duration: 1s;
}

@keyframes clickable {
  20% {
    transform: scale(0.7);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-welcome,
.popup-difficulty {
  width: 480px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-text {
  text-align: center;
  margin: 20px 0;
}

.modal-text > p {
  line-height: 1.5;
}

.modal-text > p:first-child {
  margin-bottom: 15px;
}

.modal-text > p:nth-child(3) {
  font-weight: 700;
  margin: 40px 0 10px;
}

.modals-buttons {
  padding: 8px 12px;
}

.play-game {
  align-self: flex-end;
  margin-right: 20px;
}

.popup-difficulty h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.modal-buttons {
  margin-top: 20px;
  width: 250px;
  display: flex;
  justify-content: space-around;
}

/* HIDE MODAL */
.hidden {
  display: none;
}

/* ------------------------------------ Responsive */
@media (max-width: 630px) {
  #grid {
    font-size: 30px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 352px;
  }
}

@media (max-width: 500px) {
  #grid > div {
    text-align: revert;
  }

  #grid {
    font-size: 25px;
  }
}
